
{% extends 'tarpon/base.html' %}

{% block body %}
	{% if all_albums %}
		<h3>Here are all my Albums (Look At Them! Look At Them!):</h3>
		<ul>
			{% for album in all_albums %}
				<div class="col-sm-4 col-lg-2">
					<div class="thumbnail">

					<!-- Album Cover -->
					<a href="{% url 'tarpon:details' album.id %}">
						<img src="{{ album.album_cover.url }}" class="img-responsive">
					</a>

					<div class="caption">
						<h2>{{ album.album_title }}</h2>
						<h4>{{ album.artist }}</h4>

						<!-- Details -->
						<li><a href="{% url 'tarpon:details' album.id %}">{{ album.album_title }}</a></li>

						<!-- Delete -->
						<form action="{% url 'tarpon:album-delete' album.id %}" method="post" style="display: inline;">
							{% csrf_token %}
							<input type="hidden" name="album_id" value="{{ album.id }}" />
							<button type="submit" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</form>

					</div>

					</div>
				</div>
			
			<!-- Favorite
				<a href="#" class="btn btn-default btn-sm btn-favorite">
					<span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
				</a>
			-->
			{% endfor %}
		</ul>
	{% else %}
		<h3>You don't have any albums (AWWwwwww... . .)</h3>
	{% endif %}
{% endblock %}